<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.0/js/all.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="box1">
        <ul>
            <li><a href="#">India </a><i class="fa fa-angle-down" aria-hidden="true"></i></li>
            <li><a href="#">English </a><i class="fa fa-angle-down" aria-hidden="true"></i></li>
            <li><a href="#">Messages </a><i class="fa fa-angle-down" aria-hidden="true"></i></li>
            <h5>Free shipping on order above 1499</h5>
        </ul>
    </div>
    <div class="sub-box">
        <ol>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Promotions</a></li>
            <li><a href="#"> Offerzone </a></li>
            <li><a href="#"> Contact </a></li>
        </ol>
    </div>
    <div class="icons">
        <h2>Fashion<font>World</font></h2>
        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        <div class="logo">
        <img src="/images/fw.png" width="125" height="50">
        </div>
    </div>

    <div class="social-media">
        <a href="#" class="fb" style="color:white"><i class="fa-brands fa-facebook-f fa-xl"></i></a>
        <a href="#" class="tw" style="color:white"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <a href="#" class="in" style="color:white"><i class="fa-brands fa-instagram fa-xl"></i></a>
        <a href="#" class="yt" style="color:white"><i class="fa-brands fa-youtube fa-xl"></i></a>
    </div>

    <div class="wrapper">
        <div class="cards_wrap">
          <div class="card_item">
            <div class="card_inner">
              <div class="card_top">
                <img src="/images/men.jpg" width="96%" display="block" height="100%">
              </div>
              <div class="card_bottom">
                <div class="card_info" style="text-align:center">
                  <h4 class="title">Mens Fashion</h4>
                  <p>
                    Keep it simple  but significant.
                  </p><br>
                  <button type="submit" class="submit-btn" ><a href="#" style="font-size:16px">Shop with Chat-bot</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="card_item">
            <div class="card_inner">
              <div class="card_top">
                <img src="/images/women.jpg" width="96%" display="block" height="100%" >
              </div>
              <div class="card_bottom">
                <div class="card_info">
                  <h4 class="title">Womens Fashion</h4>
                  <p>
                    Life is a party ,dress like it.
                  </p><br>
                  <button type="submit" class="submit-btn" ><a href="#" style="font-size:16px">Shop with Chat-bot</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="card_item" >
            <div class="card_inner">
              <div class="card_top" >
                <img src="/images/kids.jpg" width="96%" display="block" height="287px" >
              </div>
              <div class="card_bottom">
                <div class="card_info">
                  <h4 class="title">Kids Fashion</h4>
                  <p>
                    Let our future  be stylish.
                  </p><br>
                  <button type="submit" class="submit-btn" ><a href="#" style="font-size:16px">Shop with Chat-bot</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="card_item">
            <div class="card_inner">
              <div class="card_top">
                <img src="/images/jb1.jpg" width="96%" display="block" height="100%" >
              </div>
              <div class="card_bottom">
                <div class="card_info">
                  <h4 class="title">Just born</h4>
                  <p>
                    Baby cloths make everything  perfect.
                  </p><br>
                  <button type="submit" class="submit-btn" ><a class="bot" href="#" style="font-size:16px">Shop with Chat-bot</a></button>
                </div>
              </div>
            </div>
          </div>
          <div class="card_item">
            <div class="card_inner">
              <div class="card_top">
                <img src="/images/accessories.jpg" width="96%" display="block" height="295px" >
              </div>
              <div class="card_bottom">
                <div class="card_info">
                  <h4 class="title">Fashion Accessories</h4>
                  <p>
                    Styling is all about accessories.
                  </p><br>
                  <button type="submit" class="submit-btn" ><a href="#" style="font-size:16px">Shop with Chat-bot</a></button>
                </div>
              </div>
            </div>
          </div>
          <div class="card_item">
            <div class="card_inner">
              <div class="card_top">
                <img src="/images/summer.jpg" width="96%" display="block" height="294px" >
              </div>
              <div class="card_bottom">
                <div class="card_info">
                  <h4 class="title">Summer wear</h4>
                  <p>
                    Dress up for a party called " SUMMER"!
                  </p><br>
                  <button type="submit" class="submit-btn" ><a href="#" style="font-size:16px">Shop with Chat-bot</a></button>
                </div>
              </div>
            </div>
          </div>
          <div class="card_item">
            <div class="card_inner">
              <div class="card_top">
                <img src="/images/winter.jpg" width="96%" display="block" height="100%" >
              </div>
              <div class="card_bottom">
                <div class="card_info">
                  <h4 class="title">Winter wear</h4>
                  <p>
                    Hating the cold,but loving the winter clothes.
                  </p><br>
                  <button type="submit" class="submit-btn" ><a href="#" style="font-size:16px">Shop with Chat-bot</a></button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card_item">
            <div class="card_inner">
              <div class="card_top">
                <img src="/images/foot1.jpg" width="96%" display="block" height="282px" >
              </div>
              <div class="card_bottom">
                <div class="card_info">
                  <h4 class="title">Foot wear</h4>
                  <p>
                    Shoe speak louder than words.
                  </p><br>
                  <button type="submit" class="submit-btn" ><a href="#" style="font-size:16px">Shop with Chat-bot</a></button>
                </div>
              </div>
            </div>
          </div>
          <div class="card_item">
            <div class="card_inner">
              <div class="card_top">
                <img src="/images/traditional.jpg" width="96%" display="block" height="282px" >
              </div>
              <div class="card_bottom">
                <div class="card_info">
                  <h4 class="title">Traditional</h4>
                  <p>
                    So much pride , joy and comfort.
                  </p><br>
                  <button type="submit" class="submit-btn" ><a href="#" style="font-size:16px">Shop with Chat-bot</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

</body>
</html>