<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | LOGIN</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="container">
        <div class="login-form">
            <form >
                <fieldset>
                    <legend>LOGIN</legend><br><br>
                    <label>UserId :</label>
                    <input type="Userid" class="input-box" placeholder=" Enter UserId" required><br><br>
                    <label>Password :</label>
                    <input type="Password" class="input-box" placeholder=" Enter Password" required>
                    <br>
                    <button type="submit" class="submit-btn" ><a href="/templates/home.html">Login</a></button>
                    <br><br>
                    <input type="checkbox"><span>Remember Me</span>
                    <br><br>
                    New here ?<span> </span><a href="/templates/register.html">Hit me</a> to get access for the world of Fashion <br><br>
                    <a href="">Forgot Password</a>
                </fieldset>
            </form>
        </div>
    </div>
    
</body>
</html>